bazel-bin
bazel-out
bazel-testlogs
bazel-friday-voice-assistant
friday/audio/keyword_detection/goldfish/cppflow/tensorflow/lib/cpu/
friday/audio/keyword_detection/goldfish/cppflow/tensorflow/lib/gpu/
.idea/

